body {
	margin: auto 0;
	background-color: #ffffff;
	height: auto;

}
nav {
	text-align: center;
	width: 100%;
	position: fixed;
	background-color: #ffffff;
	padding: 0;
	/*height:68px;*/
}
nav ul{
	/*padding: 10px 10% 10px 10%;*/
}

nav li {
	display: inline;
	font-family: "Avenir";
	font-weight: lighter;
	font-size: 1.250em;
	text-transform: lowercase;
	padding: 0px 20px 0 20px;
}
a {
	text-decoration: none;
	color:#871a1a;
}

nav img {
	width: 6%;
	float:left;
	padding: 1% 5%;
	height: 5%;
}
footer {
	width: 100%;
	height: 50px;
	background-color: #431517;
	clear: both;
}

img {
	width: 100%;
}

#countup {
	padding: 10% 5% 5% 5%;
	text-align: center;
}

#countup p{
	display: inline-block;
	padding: 5px;
	font-family: "Avenir";
	font-size: 2.5em;
	text-align: center;
}


#col-left p {
	float: left;
	padding: 10% 0% 5% 13%;
	width: 30%;
	font-family: "Avenir";
}

#col-left img{
	float: right;
	width: 50%;
	padding-top: 5%;
	padding-bottom: 5%;
}

#food1 {
	float: left;
	width: 30%;
}

#col-right{
	width: 100%;
	padding-top: 5%;
	height: auto;
	clear: both;
}
#col-right p{
	float: right;
	padding: 0% 10%% 0% 5%;
	width: 30%;
	font-family: "Avenir";
}
#col-right img{
	float: left;
	width: 50%;
	padding-bottom: 5%;
}

/*-----FOOTER--*/

footer {
	width: 100%;
	height:180px;
	padding-top:10px;
 	text-align: center;
	background-color: #431517;
	clear: both;
}

.f-left li {
	display: inline;
	font-family: "Avenir";
	font-weight: lighter;
	font-size: 1em;
	text-transform: lowercase;
	padding: 0px 0px 0 20px;
    color:white;
}

.f-menu li a {
color: #f5c7cc;
text-decoration:none;
}

.f-menu {
    list-style: none;
    margin: 0;
    padding-top: 1%;
   
}

.f-menu li {
    display:inline;
    padding: 0 1px 0 15px;
    position: relative;
   
}

.f-menu li:first-child {
    padding-left: 0;
}
f-menu li:first-child:before {
    display: none;
}

.f-menu .cur a {
    color: #fff;
}

#social {
	padding-top: 2%;
	margin: 0 auto;
}
.copy {
	
    padding-top: 2%;
    color: #f5c7cc;
    font-family: "Avenir";
    font-size: 0.7em;
    font-weight: lighter;
    margin: 0 auto;

}
.copy a{
	color: #f5c7cc;
}

/* END Footer */