body {
	margin: auto 0;
	background-color: #ffffff;
	height: auto;

}

/* HEADER */

nav {
	text-align: center;
	width: 100%;
	position: fixed;
	background-color: #ffffff;
	padding: 0;
    z-index:1;
	/*height:68px;*/
}
nav ul{
	padding: 0px;
}

nav li {
	display: inline;
	font-family: "Avenir";
	font-weight: lighter;
	font-size: 1.250em;
	text-transform: lowercase;
	padding: 0px 20px 0 20px;
}
#main a {
	text-decoration: none;
	color:#871a1a;
}

nav img {
	width: 6%;
	float:left;
	padding: 1% 5%;
	height: 5%;
}
#spacer {
    height: 120px;
    width: 100%;
}

/* MAIN CONTENT */

#map {
margin-left:15%;
margin-top: 80px;
margin-bottom: 100px;
margin-right: 50px;
width:45%;
height:700px;
float:left;
}

.address {
float: left;
margin-top: 80px;
display: block;
padding-top: 10px;
color:#373534;
font-family: "Avenir";
}

article {    
width:30%;
padding-left:25px;
}

h2 {
font-size: 22px;
}

p {
font-weight:normal;
font-size:14px;
}

h2 {
font-weight:normal;
font-size:16px;
letter-spacing:0.5px;
}


input[type="button"] {
text-transform:uppercase;
font-size:12px;
margin:10px;
background:#871a1a; 
border:none;
font-family: 'Avenir';
padding:10px;
letter-spacing:0.5px;
color:#fff;
}

input[type="button"]:hover {
background:#431517;
}

input[type="button"]:focus {
outline:0;
}


/*-----FOOTER--*/

footer {
    width: 100%;
    height:180px;
    padding-top:10px;
    text-align: center;
    background-color: #431517;
    clear: both;
}

.f-left li {
    display: inline;
    font-family: "Avenir";
    font-weight: lighter;
    font-size: 1em;
    text-transform: lowercase;
    padding: 0px 0px 0 20px;
    color:white;
}

.f-menu li a {
color: #f5c7cc;
text-decoration:none;
}

.f-menu {
    list-style: none;
    margin: 0;
    padding-top: 1%;
   
}

.f-menu li {
    display:inline;
    padding: 0 1px 0 15px;
    position: relative;
   
}

.f-menu li:first-child {
    padding-left: 0;
}
.f-menu li:first-child:before {
    display: none;
}

.f-menu .cur a {
    color: #fff;
}

#social {
    padding-top: 2%;
    margin: 0 auto;
}
.copy {
    
    padding-top: 2%;
    color: #f5c7cc;
    font-family: "Avenir";
    font-size: 0.7em;
    font-weight: lighter;
    margin: 0 auto;

}
.copy a{
    color: #f5c7cc;
    text-decoration: none;
}

/* END Footer */