body {
	margin: auto 0;
	background-color: #ffffff;
	height: auto;
}
nav {
	text-align: center;
	width: 100%;
	position: fixed;
	background-color: #ffffff;
	padding: 0;
	/*height:68px;*/
}
nav ul{
	/*padding: 10px 10% 10px 10%;*/
}
td {width:33.333%;}
nav li {
	display: inline;
	font-family: "Avenir";
	font-weight: lighter;
	font-size: 1.250em;
	text-transform: lowercase;
	padding: 0px 20px 0 20px;
}
a {
	text-decoration: none;
	color:#871a1a;
}

nav img {
	width: 6%;
	float:left;
	padding: 1% 5%;
	height: 5%;
}
#col-left {
	float: left;
	width: 10%;
	height: 200px;
	padding: 10% 0% 5% 13%;
}
#col-left h1 {
	text-align: left;
	padding: 5%;
	padding-left:8%;
	font-family: "Charter";
	font-size: 30px;
	color: #871a1a;
	margin-top:26px;
	/*text-transform: uppercase;*/
}
#col-right {
	float: right;
	width: 70%;
	/*height: 500px;*/
	padding: 12% 7% 5% 0%;
	font-family: "Avenir";
}	
.menu {
	margin-top:5px;
}
/*-----FOOTER--*/

footer {
	width: 100%;
	height:180px;
	padding-top:10px;
 	text-align: center;
	background-color: #431517;
	clear: both;
}

.f-left li {
	display: inline;
	font-family: "Avenir";
	font-weight: lighter;
	font-size: 1em;
	text-transform: lowercase;
	padding: 0px 0px 0 20px;
    color:white;
}

.f-menu li a {
color: #f5c7cc;
text-decoration:none;
}

.f-menu {
    list-style: none;
    margin: 0;
    padding-top: 1%;
   
}

.f-menu li {
    display:inline;
    padding: 0 1px 0 15px;
    position: relative;
   
}

.f-menu li:first-child {
    padding-left: 0;
}
f-menu li:first-child:before {
    display: none;
}

.f-menu .cur a {
    color: #fff;
}

#social {
	padding-top: 2%;
	margin: 0 auto;
}
.copy {
	
    padding-top: 2%;
    color: #f5c7cc;
    font-family: "Avenir";
    font-size: 0.7em;
    font-weight: lighter;
    margin: 0 auto;

}
.copy a{
	color: #f5c7cc;
}

/* END Footer */